main.text-app
  height: calc(100vh - 47px)
  color #333
  padding 18px 22px
  line-height 1.4em
  overflow: auto
  h1
    text-align center
  h1, h2
    font-size 14px
    font-weight 600
    padding 8px 0
  p
    font-size 12px